/* Mobile Styles */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;  
  line-height: 1.5;
  margin: 0;
  background-color: #ddd;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center; 
}

header h1 {
  margin: 0;
  line-height: 1.5; 
}

/* Styles for all screens */

.hero {
  margin-bottom: 2rem;
  text-align: center;
}

.hero-img {
  max-width: 100%;
  width: 90%; /* widen image */
}

h1, 
h2 {
  text-align: center;
}

.specials {
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.special img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

/* Desktop Styles */
@media (min-width: 768px) {

  .hero {
    margin-bottom: 4rem;
  }

  .hero-img {
    width: 80%; 
  }
   
  h1 {
    font-size: 36px;
  }
   
  h2 {
   font-size: 28px;
  }

  .specials {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .special {
    width: 30%;
  }

}
